- if resource.errors.any?
  .alert.alert-danger
    %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'alert', type: 'button'} &times;
    - if resource.errors.count > 1
      %ul
        - resource.errors.full_messages.each do |msg|
          %li= msg
    - else
      %p
        = resource.errors.full_messages.first
