/for permatasks only
%menu.nestable-menu
  - if on_top
    %span.btn.btn-primary.add-node{data: {'remote' => 'true', 'resource-type' =>'Group', 'on-top'=> 'true'}} 
      %div{rel: 'tooltip', title: 'Create main group'}
        Create Permatask
  - else
    %span.btn.btn-primary.add-node{data: {'remote' => 'true', 'resource-type' =>'Group', 'client-type' => '#{@client_type}'}} 
      %div{rel: 'tooltip', title: 'Create main group'}
        Create Permatask
  %button.btn.btn-info{type: 'button', data: {action: 'expand-all'}} 
    %div{rel: 'tooltip', title: 'Show all checklist items'}
      Expand All
  %button.btn.btn-danger{type: 'button', data: {action: 'collapse-all'}}
    %div{rel: 'tooltip', title: 'Hide all but main categories'}
      Collapse All
  / link_to 'Preview', trial_tenant_permatask_path(Tenant::Permatask.first, :format => :js), remote: true, class: 'btn btn-success pull-right', role: 'button', rel: 'tooltip', title: 'Preview and test your checklist to get a feel for exactly how a reporter in the field will see and use it.'