.thumbnail{data: {'resource-id' => resource.id}, style: 'float:left'}
  %a.thumbnail{'data-gallery' => '', href: resource.photo.expiring_url(300, :medium), style: 'height: 100px'}
    %img{alt: "Photo ##{resource.id}", src: resource.photo.expiring_url(300, :thumb)}
  - if (current_user.role?(:admin) || current_user.role?(:manager) || current_user.role?(:reporter))
    %p{style: 'margin-top: -30px; text-align: center'}
      = tenant_button :print_photo, print_tenant_report_photo_url(report_id: resource.report_id, id: resource.id), target: '_blank', style: 'margin-left: 0' unless current_user.role?(:reporter)
      = tenant_button :download, download_tenant_report_photo_url(report_id: resource.report_id, id: resource.id), target: '_blank', style: 'margin-left: 0' unless current_user.role?(:reporter)
      = tenant_button :delete, tenant_report_photo_url(report_id: resource.report_id, id: resource.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, style: 'margin-left: 0' if resource.report.sent_at.nil?