<div id="page_1">
  <div id="id_1">
    <p class="p0 ft0">QUICK REPORT SYSTEMS INC.</p>

    <p class="p1 ft1">TERMS AND CONDITIONS OF USE</p>

    <p class="p2 ft2">These terms and conditions of use constitute a legal agreement
      between you, the</p>

    <p class="p3 ft2">"User" and Quick Report Systems Inc. ("QRSI"). By indicating your
      acceptance below you acknowledge that you have read and understood this Agreement
      in its entirety, and you expressly agree to be bound by the terms and conditions of
      use as set out herein.</p>

    <p class="p4 ft3">1. Definitions</p>

    <p class="p5 ft4">In this Agreement:</p>

    <p class="p6 ft4"><span class="ft3">"Agreement"</span> means this agreement and the
      terms and conditions of use set out herein, also referred to as the <span class=
                                                                                        "ft3">"Terms of Service"</span>.</p>

    <p class="p7 ft4"><span class="ft3">"QRSI"</span> means Quick Report Systems Inc.,
      a corporation duly incorporated and validly existing in accordance with the laws of
      the Province of Ontario.</p>

    <p class="p8 ft4"><span class="ft3">"QRSI Products"</span> means all QRSI websites
      (including, without limitation, the QRIDit Homewatch Edition website), QRSI
      services, QRSI software (whether accessed from an QRSI server,
    <nobr>pre-installed</nobr> on a medium or offered by download), and all other
    software, features, tools, websites and services provided by or through QRSI and
    QRSI's Third- Party Service Providers not covered expressly by a different
    agreement. This also includes all accompanying data files and documentation, any
    updates to the QRSI Products that may be provided from time to time by QRSI, and
    all copies of any of the foregoing.</p>

    <p class="p9 ft4"><span class="ft3">"Recommended Devices"</span> &#8211; means the
      list of handheld devices attached as Schedule "A" to this Agreement which are
      recommended by QRSI for use with QRIDit Homewatch V1.0 due to their GPS accuracy
      and capabilities.</p>

    <p class="p8 ft4"><span class="ft3">"Registration Information"</span> means any
      information that the user may be required to provide to QRSI to be able to register
      and use QRSI Products. Such information may include your name, <nobr>e-mail</nobr>
    address, address, province, postal code, etc.</p>

    <p class="p8 ft4"><span class="ft3">"Third Party Service Providers"</span> means
      any <nobr>non-QRSI</nobr> branded products, software or services.</p>

    <p class="p8 ft4"><span class="ft3">"User ID" means</span> a valid form of
      identification to use QRSI Products, such as a valid <nobr>sign-in</nobr> name or
    such other forms of user identification authorized by QRSI.</p>
  </div>
</div>

<div id="page_2">
  <div id="id_1">
    <p class="p11 ft3">2. Quick Report Systems Inc. Terms of Service</p>

    <p class="p12 ft4">You must agree to these Terms of Service to use QRSI Products,
      including QRIDit Homewatch Edition. By using or registering for a QRSI Product you
      agree to these Terms of Service as set out herein. You cannot use or sign up for
      QRSI Products until you have accepted these Terms of Service. Each time you use a
      QRSI Product, you reaffirm your acceptance of the <nobr>then-current</nobr> Terms
    of Service. If you do not wish to be bound by these Terms of Service, you may
    discontinue using the QRSI Products. You agree to accept notices
    electronically.</p>

    <p class="p13 ft3">3. Requirements for Use or Registration of QRSI Products</p>

    <p class="p12 ft4">Some QRSI Products may require you to provide Registration
      Information. If you register for any QRSI Product, you agree to provide accurate
      and complete Registration Information and you agree to keep such information
      current. You will be provided with login details and a User ID which is required to
      access and use QRSI Products. You may not: (1) use anyone else&#8217;s User ID
      without authorization; (2) select or use a User ID of another person with the
      intention of impersonating that person; (3) use a User ID in violation of the
      intellectual property rights of any person; or (4) use a User ID that QRSI
      considers in its sole discretion to be inappropriate. You acknowledge that QRSI
      Products are intended for general audiences. You represent and warrant that you
      have adequate legal capacity to enter into binding agreements such as these Terms
      of Service and to utilize the QRSI Products on the devices from which you have
      caused QRSI Products to be accessed and/or installed.</p>

    <p class="p14 ft3">4. Access to QRSI Products</p>

    <p class="p15 ft4">You are responsible for obtaining your own Internet access, such
      as maintaining all telephone, computer hardware, software, <nobr>wi-fi</nobr>
    networks, and other equipment needed for access to and use of the QRSI Products,
    and all charges related thereto.</p>

    <p class="p13 ft3">5. Recommended Devices</p>

    <p class="p15 ft4">QRSI has carried out extensive testing on many types of devices
      in order to bring you the most reliable and <nobr>user-friendly</nobr> experience
    possible. Schedule "A" to this Agreement is a list of the handheld devices
    recommended by QRSI for use with QRIDit Homewatch V1.0 due to their GPS accuracy
    and capabilities (the "Recommended Devices"). <span class="ft3">While other devices
      may be able to provide you with a functional and acceptable experience, the
      reliability and functionality of other devices may not currently meet QRSI&#8217;s
      performance expectations and QRSI is not currently able to offer support for
      devices that are not listed as a recommended device on Schedule "A" to this
      agreement.</span></p>

    <p class="p16 ft3">6. QRSI Subscription</p>

    <p class="p12 ft4">Once you accept this Agreement, QRSI grants you a personal,
    <nobr>non-exclusive,</nobr> <nobr>non-transferable</nobr> subscription to access
    the QRSI Products made available to you by QRSI and to use the QRSI</p>
  </div>
</div>

<div id="page_3">
  <div id="id_1">
    <p class="p17 ft4">Products solely in accordance with these Terms of Service. You
      may not <nobr>sub-license</nobr> or charge others to use or access QRSI Products
    without first obtaining written permission from QRSI. QRSI occasionally will
    provide automatic upgrades to improve your online experience, although these
    upgrades may not be consistent across all platform and devices. You agree to accept
    and to take no action to interfere with such automatic upgrades, scanning, and
    related services. You may not sell, assign, grant a security interest in or
    otherwise transfer any right in the QRSI Products or incorporate it (or any portion
    of it) into another product. You may not copy (or otherwise duplicate), translate,
    <nobr>reverse-engineer</nobr> or <nobr>reverse-compile</nobr> or decompile,
    disassemble, make derivative works from, or otherwise attempt to discover any
    source code in the QRSI Products. You may not modify the QRSI Products or use them
    in any way not expressly authorized by these Terms of Service. You may not obtain
    the communications protocol for accessing the QRSI Products. Finally, you may not
    authorize, permit or assist any third party to do any of the things described in
    this paragraph. You understand that QRSI's introduction of various technologies may
    not be consistent across all platforms and that the performance and features
    offered by QRSI may vary depending on your computer and other equipment.</p>

    <p class="p18 ft3">7. Registered User Information &amp; User Data</p>

    <p class="p12 ft4">You consent to QRSI using your Registration Information, user
      data and other personal information, including for example, dates of home
      inspections, details about scheduled inspections, etc. By registering with or using
      QRSI Products, you consent to the collection, storage and use of this information
      and the transfer of this information within or outside of Canada for processing and
      storage by QRSI. Additionally, you agree that QRSI may use whatever means it deems
      necessary to authenticate you as a valid user of QRSI Products, help store your
      user data, registration information and <nobr>transaction-related</nobr>
    information, and enable you to take advantage of offerings from QRSI and its Third
    Party Service Providers.</p>

    <p class="p16 ft3">8. User Responsibility</p>

    <p class="p12 ft4">You agree to keep confidential the passwords associated with
      your account. You are responsible for all activity undertaken by you, or anyone you
      intentionally or unintentionally permit to use your User ID or QRSI Products,
      including your family or friends. You agree to indemnify and hold harmless QRSI for
      losses incurred by QRSI or another party due to another party&#8217;s use of your
      account or password as a result of your failure to use reasonable care to keep your
      account information confidential or as a result of your failure to use reasonable
      care while using QRSI Products. You are responsible for any materials you post or
      make available on or through the QRSI Products. You are solely responsible for any
      damage caused by unauthorized destruction, loss, interception, or alteration of the
      data stored by QRSI by unauthorized persons. QRSI shall not use the data it
      collects except to: (a) provide the QRSI Products; (b) monitor your use of the QRSI
      Products for security purposes; (c) perform statistical analysis and business
      measures of the performance of the QRSI Products; and (d) enforce the terms of this
      Agreement. QRSI shall not disclose the data stored at an QRSI server to a third
      party, except to: (a) the homeowner of the home for which inspection details have
      been entered; (b) the service provider and/or inspector that has been assigned to
      provide services for the homeowner; or (c) QRSI employees or subcontractors who
      need to</p>
  </div>
</div>

<div id="page_4">
  <div id="id_1">
    <p class="p17 ft4">know such information in order to provide the QRSI Products,
      provided that they are bound by similar confidentiality obligations.</p>

    <p class="p19 ft3">9. No Duty to Monitor</p>

    <p class="p12 ft4">QRSI is not required to <nobr>pre-screen</nobr> data or
    information available on the QRSI Products, including the content of any
    inspection, <nobr>e-mail</nobr> or other messaging that occurs on or through the
    QRSI service, although QRSI reserves the right to do so in its sole discretion.
    QRSI is not liable for data or information that is provided by others. QRSI
    reserves the right to remove any data or information, or discontinue any account
    that in its sole judgment does not meet its standards or does not comply with these
    Terms of Service, but QRSI is not responsible for any failure or delay in removing
    such material.</p>

    <p class="p13 ft3">10. QRSI Support</p>

    <p class="p12 ft4">You understand that your use of the QRSI Products is at your own
      risk and that QRSI is not obligated to provide assistance other than the
      information posted on the QRSI website. QRSI is under no obligation to provide you
      with any error resolution. Homeowners seeking support must contact their service
      provider directly as QRSI does not provide <nobr>end-user</nobr> support to
    homeowners.</p>

    <p class="p13 ft3">11. Amendments or Modifications to the Terms of Service</p>

    <p class="p12 ft4">QRSI may modify or change the Terms of Service at any time and
      in its sole discretion. The modified Terms of Service will be effective immediately
      upon posting and you agree to the new posted Terms of Service by continuing your
      use of the QRSI Products. QRSI will provide not less than thirty (30) days' notice
      before any material changes take effect. If you do not agree with the modified
      Terms of Service, your only remedy is to discontinue using the QRSI Products and
      cancel your registration, subscription, or services.</p>

    <p class="p13 ft3">12. Changes to QRSI Products</p>

    <p class="p12 ft4">QRSI has the right at any time to change, modify, add to or
      discontinue or retire any aspect or feature of the QRSI Products including, but not
      limited to, the website, software, hours of availability, equipment needed for
      access or use, the maximum disk space that will be allotted on QRSI servers on your
      behalf either cumulatively or for any particular service or the availability of
      QRSI Products on any particular device or communications service. QRSI has no
      obligation to provide you with notice of any such changes.</p>

    <p class="p13 ft3">13. Restrictions on Access to or Use of QRSI Products</p>

    <p class="p12 ft4">You may access QRSI Products only through the interfaces and
      protocols provided or authorized by QRSI. You agree that you will not access QRSI
      Products through unauthorized</p>
  </div>
</div>

<div id="page_5">
  <div id="id_1">
    <p class="p17 ft4">means, such as unlicensed software clients, and that you will
      only use QRSI Products in conjunction with QRSI authorized products and
      components.</p>

    <p class="p19 ft3">14. Lawful Purposes Only</p>

    <p class="p12 ft4">You may use QRSI Products for lawful purposes only. You are
      expressly not permitted to post on or transmit through community areas (e.g.,
      message boards, chat, <nobr>e-mail,</nobr> calendars, instant messaging products)
    or other means any material that: (1) violates or infringes in any way upon the
    rights of others; (2) is unlawful, threatening, abusive, defamatory, invasive of
    privacy or publicity rights, vulgar, obscene, profane, indecent or otherwise
    objectionable; (3) encourages conduct that would constitute a criminal offense; (4)
    gives rise to civil liability; (5) violates any policies posted in any community
    areas; or (6) otherwise violates any law. You also may not undertake any conduct
    that, in QRSI's sole judgment, restricts or inhibits any other user from using or
    enjoying the QRSI Products.</p>

    <p class="p16 ft3">15. Indemnification</p>

    <p class="p12 ft4">You agree to defend, indemnify and hold harmless QRSI, its
      vendors, and their respective directors, officers, employees and agents from and
      against all claims and expenses, including legal fees, arising out of your use of
      the QRSI Products. QRSI reserves the right, at its own expense and in its sole
      discretion, to assume the exclusive defense and control of any matter otherwise
      subject to indemnification by you. In that event, and only in such event, shall you
      have no further obligation to provide indemnification for QRSI in that specific
      matter only.</p>

    <p class="p13 ft3">16. Termination</p>

    <p class="p12 ft4">QRSI has the right to terminate your User ID, your registration,
      your subscription or your access to QRSI Products for any reason, including,
      without limitation, if it considers your use to be unacceptable in its sole
      discretion, or in the event of any breach by you of the Terms of Service (either
      directly or through breach of any other terms and conditions or operating rules
      applicable to you). QRSI may, but shall be under no obligation to, provide you with
      a warning prior to terminating your use of the QRSI Products.</p>

    <p class="p13 ft3">17. Trademarks &amp; Intellectual Property</p>

    <p class="p12 ft4">All trademarks and intellectual property appearing on the QRSI
      Products are the property of their respective owners.</p>

    <p class="p19 ft3">18. Miscellaneous</p>

    <p class="p15 ft4">A. <span class="ft7">Notices</span>. QRSI, as an online
      business, transacts with its users electronically. When you sign up for any QRSI
      product, you consent to receive electronically from QRSI any privacy or other
      notices, agreements, disclosures, reports, documents, communications, or other
      records</p>
  </div>
</div>

<div id="page_6">
  <div id="id_1">
    <p class="p20 ft4">(collectively, "Notices"). You agree that QRSI generally can
      send you electronic Notices in either or both of the following ways: (1) to the
    <nobr>e-mail</nobr> address that you provided to QRSI during registration; or (2)
    QRSI may post Notices on a welcoming screen or top page of the relevant QRSI
    Product. You must check your designated <nobr>e-mail</nobr> address regularly for
    Notices. You must have a personal computer with a modem connected to a
    communications source (telephone, wireless or broadband), a
    <nobr>Windows-based</nobr> operating system with an Internet browser or a
    <nobr>Macintosh-based</nobr> operating system with an Internet browser and Internet
    <nobr>e-mail</nobr> software in order to access electronic communications. You will
    need a printer attached to your personal computer to print any Notices. You can
    retrieve an electronic copy and a printable version of the Terms of Service by
    clicking on the "Terms of Service" link on the home page of QRSI. The delivery of
    any Notice from QRSI is effective when sent by QRSI, regardless of whether you read
    the Notice when you receive it or whether you actually receive the delivery. Your
    only method of withdrawing consent to receive Notices electronically is to
    terminate any subscriptions, services or other products provided under these Terms
    of Service.</p>

    <p class="p21 ft4"><span class="ft8">B.</span><span class="ft9">Survival</span>.
      Provisions of these Terms of Service addressing disclaimers of representations and
      warranties, limitation of liability, indemnity obligations, intellectual property
      and governing law shall survive the termination of these Terms of Service and your
      registration with the QRSI Products.</p>

    <p class="p22 ft4"><span class="ft8">C.</span><span class="ft10">Entire
      Agreement</span>. These Terms of Service and any operating rules for any areas of
      functionality of the QRSI Products established by QRSI constitute the entire
      agreement between QRSI and you regarding the subject matter of these Terms of
      Service, and supersede all previous written or oral agreements.</p>

    <p class="p23 ft4"><span class="ft4">D.</span><span class="ft11">Conflicts.</span>
      In the event of any inconsistency between these Terms of Service and any such other
      terms of use or operating rules of a specific QRSI Product, these Terms of Service
      will supersede such other terms of service or operating rules.</p>

    <p class="p22 ft4"><span class="ft4">E.</span><span class=
                                                                "ft11">Jurisdiction</span>. The Terms of Service shall be governed by and construed
      in accordance with the laws of the Province of Ontario, without regard to conflict
      of laws rules. You expressly agree that the exclusive, personal and subject matter
      jurisdiction for any claim or dispute under the Terms of Service and or your use of
      the QRSI Products resides in the jurisdiction of the Province of Ontario, Canada,
      and you further expressly agree to submit to the personal jurisdiction of such
      courts for the purpose of litigating any such claim or action. This provision may
      not apply to you depending on the laws of your jurisdiction.</p>

    <p class="p23 ft4"><span class="ft8">F.</span><span class="ft12">Waiver</span>. No
      Waiver by either party of any breach or default hereunder shall be deemed to be a
      waiver of any preceding or subsequent breach or default.</p>

    <p class="p24 ft4"><span class="ft8">G.</span><span class="ft9">Headings</span>.
      The section headings used herein are for convenience only and shall not be given
      any legal import.</p>

    <p class="p22 ft4"><span class="ft4">H.</span><span class="ft11">Authority</span>.
      By accepting this Agreement you represent and warrant that you have adequate legal
      capacity to enter into this Agreement and that you have all necessary power and
      authority to execute and deliver this Agreement and to perform your obligations
      hereunder. If you are entering into this Agreement on behalf of a corporation,
      company or other legal entity, you</p>
  </div>
</div>

<div id="page_7">
  <div id="id_1">
    <p class="p25 ft4">represent and warrant that you have the authority to bind such
      entity to these terms and conditions, in which case the terms "you" or "your" shall
      refer to such entity.</p>

    <p class="p12 ft4"><span class="ft8">I.</span><span class=
                                                                "ft12">Severability</span>. If any provision of this Agreement or the application
      of such provision to any person or circumstances shall be held illegal, invalid or
      unenforceable, the remainder of this Agreement, or the application of such
      provision to persons or circumstances other than those as to which it is held
      illegal, invalid or unenforceable shall not be affected thereby. Each provision of
      this Agreement is intended to be severable, and if any provision is illegal,
      invalid or unenforceable in any jurisdiction, this will not affect the legality,
      validity or enforceability of such provision in any other jurisdiction or the
      validity of the remainder of this Agreement.</p>

    <p class="p26 ft4"><span class="ft4">J.</span><span class="ft13">Force
      Majeure</span>. Any delays in, or failure by, either party hereto in the
      performance hereunder shall be excused to the extent that the same is caused by
      force majeure including, but not limited to, strikes or other labour disturbances,
      war, sabotage, and any other cause or causes, whether similar or dissimilar, to
      those herein specified, which cannot be controlled by such party.</p>

    <p class="p27 ft4"><span class="ft8">K.</span><span class="ft12">No Agency</span>.
      Nothing in this Agreement shall constitute or be construed to be or to create a
      partnership or principal and agent relationship or any other relationship of a
      similar nature between the parties.</p>

    <p class="p12 ft4"><span class="ft4">L.</span><span class="ft11">Currency</span>.
      All amounts referred to herein or in other documents pertaining to this Agreement
      shall be in Canadian Dollars (CAD) unless otherwise specified.</p>

    <p class="p13 ft3">18. Disclaimer of Warranty &amp; Limitation of Liability</p>

    <p class="p28 ft15"><span class="ft14">DISCLAIMER OF WARRANTIES</span>. YOUR USE OF
      THE QRSI PRODUCTS IS AT YOUR SOLE RISK. THE QRSI PRODUCTS ARE PROVIDED "AS IS,"
      "WITH ALL FAULTS" AND "AS AVAILABLE" FOR YOUR USE, WITHOUT WARRANTIES OF ANY KIND,
      EITHER EXPRESS OR IMPLIED, UNLESS SUCH WARRANTIES ARE LEGALLY INCAPABLE OF
      EXCLUSION. SPECIFICALLY, QRSI DISCLAIMS IMPLIED WARRANTIES THAT THE QRSI PRODUCTS
      ARE MERCHANTABLE, OF SATISFACTORY QUALITY, ACCURATE, FIT FOR A PARTICULAR PURPOSE
      OR NEED, OR ARE <nobr>NON-INFRINGING.</nobr> QRSI DOES NOT WARRANT THAT THE
    FUNCTIONS CONTAINED IN THE QRSI PRODUCTS WILL MEET YOUR REQUIREMENTS OR THAT THE
    OPERATION OF THE QRSI PRODUCTS WILL BE UNINTERRUPTED OR <nobr>ERROR-FREE,</nobr> OR
    THAT DEFECTS IN THE QRSI PRODUCTS WILL BE CORRECTED. QRSI DOES NOT WARRANT OR MAKE
    ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE QRSI
    PRODUCTS OR RELATED DOCUMENTATION IN TERMS OF THEIR CORRECTNESS, ACCURACY,
    RELIABILITY OR OTHERWISE. QRSI PROVIDES THE QRSI PRODUCTS ON A COMMERCIALLY
    REASONABLE BASIS AND DOES NOT GUARANTEE THAT USERS WILL BE ABLE TO ACCESS OR USE
    THE QRSI PRODUCTS AT TIMES OR LOCATIONS OF THEIR CHOOSING, OR THAT QRSI WILL HAVE
    ADEQUATE CAPACITY FOR THE QRSI PRODUCTS AS A WHOLE.</p>

    <p class="p29 ft15"><span class="ft14">LIMITATION OF LIABILITY</span>. QRSI'S
      ENTIRE LIABILITY AND YOUR EXCLUSIVE REMEDY WITH RESPECT TO ANY DISPUTE WITH QRSI
      (INCLUDING WITHOUT LIMITATION YOUR USE OF THE QRSI PRODUCTS) IS TO DISCONTINUE YOUR
      USE OF THE QRSI PRODUCTS. QRSI SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL,
      INCIDENTAL, CONSEQUENTIAL OR</p>
  </div>
</div>

<div id="page_8">
  <div id="id_1">
    <p class="p20 ft15">EXEMPLARY DAMAGE ARISING FROM YOUR USE OF THE QRSI PRODUCTS OR
      FOR ANY OTHER DAMAGES RELATED IN ANY WAY TO YOUR USE OR REGISTRATION WITH QRSI.
      THESE EXCLUSIONS FOR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY
      DAMAGES INCLUDE, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, LOST DATA, DATA
      ACCURACY, LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, OR ANY
      OTHER COMMERCIAL DAMAGES OR LOSSES, EVEN IF QRSI HAD BEEN ADVISED OF THE
      POSSIBILITY THEREOF AND REGARDLESS OF THE LEGAL OR EQUITABLE THEORY UPON WHICH THE
      CLAIM IS BASED. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE
      LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH
      JURISDICTIONS, QRSI&#8217;S LIABILITY IN SUCH JURISDICTION SHALL BE LIMITED TO THE
      EXTENT PERMITTED BY LAW. QRSI DOES NOT ENDORSE, WARRANT OR GUARANTEE ANY PRODUCT OR
      SERVICE OFFERED THROUGH QRSI AND WILL NOT BE A PARTY TO OR IN ANY WAY BE
      RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND <nobr>THIRD-PARTY</nobr>
    PROVIDERS OF PRODUCTS OR SERVICES.</p>
  </div>
</div>

<div id="page_9">
  <div id="id_1">
    <p class="p30 ft3">SCHEDULE "A"</p>

    <p class="p31 ft7">RECOMMENDED DEVICES</p>

    <p class="p12 ft4">QRSI has carried out extensive testing on many types of devices
      in order to bring you the most reliable and <nobr>user-friendly</nobr> experience
    possible. The following is a list of the handheld devices recommended by QRSI for
    use with QRIDit Homewatch V1.0 due to their GPS accuracy and capabilities (the
    "Recommended Devices"). While other devices may be able to provide you with a
    functional and acceptable experience, the reliability and functionality of other
    devices may not currently meet QRSI&#8217;s performance expectations and QRSI is
    not currently able to offer support for devices that are not listed below.</p>

    <p class="p32 ft17"><span class="ft16">IOS 6&amp;7</span> <span class="ft2">iPhone
      4 iPhone 4s iPhone 5c iPhone 5s iPad 2 iPad Retina iPad Air</span></p>

    <p class="p33 ft2">iPad mini (3G models)</p>

    <p class="p34 ft16">Android OS</p>

    <p class="p35 ft2">Samsung Galaxy Note,</p>

    <p class="p36 ft2">Samsung Galaxy s3,</p>

    <p class="p36 ft2">Samsung Galaxy s4,</p>

    <p class="p35 ft2">Samsung Galaxy Note 7.0</p>

    <p class="p34 ft16">Blackberry</p>

    <p class="p35 ft2">Blackberry Q10, Z10 or Z30</p>
  </div>
</div>