= page_title 'Thank you'
.jumbotron{style: "border-bottom: 7px solid #000;background:url(#{image_path 'front/success.back.png'}) center top no-repeat;padding:24px;"}
  %h2{style:"color:#00b2c0"}
    =image_tag "front/success_check.png"
    Success! One more step!
  %p 
    Your information has been added to our system and your account has been created.
  %p
    %b 
      Please click the activation link in the email that was just sent to you.
  %p Activation is required in order to ensure you are the owner of the email address provided.
  =image_tag "front/success_mail.png",style: "margin-right: auto;margin-left: auto;"
