= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 About QRIDs >
  %h2 About QRID Creation
  %p When Creating a QRID you will need to supply QRIDit Home Watch with key data across the following three steps:
  %ul{style: "list-style: none;"}
    %li
      %h3 1. Choose Basic Information
      %ul{style:"list-style: none;"}
        %li= image_tag 'tenant/help/manager/4_Create QRID step1.png'
        %li
          %i Work Type
          %br
          The work type governs the template selection.
        %li
          %i Client Type
          %br
          Client type also governs the template selection.
        %li
          %i Client
          %br
          The QRID will belong to this client group
        %li
          %i Site
          %br
          The QRID will belong to a specific site within the identified client group.
        %li
          %i QRID Name
          %br
          After all of the above fields have been completed it's time to give your QRID a name. It's usually best to give the QRID a clear and straight forward identity that directly relates to the location in which it will be installed, for example; "Cottage", "Main Building", "Boathouse" etc.
    %li
      %h3 2. Choose Templates
      %ul{style:"list-style: none;"}
        %li=image_tag 'tenant/help/manager/4_Create QRID step2.png'
        %li Now you have named the QRID, it's time to create the Checklist. You can do this by selecting ready-made templates by checking the corresponding tick boxes down the left side of the page. Selected templates are editable in the next step.
    %li
      %h3 3. Customize Checklist
      %ul{style:"list-style: none;"}
        %li=image_tag 'tenant/help/manager/4_Create QRID step3.png'
        %li From here you may create your own sets of groups, sub-groups and questions/instructions in addition to or independent of the templates selected in step 2. It is also possible to edit templates selected in the previous step to fit your requirements. At the foot of the page you will see confirmation of all information entered in step 1 as well as an opportunity to add any photographs to the new QRID that you may have on file for future reference. As soon as you're satisfied with your Checklist, select “Create QRID” and you're ready to print it off, install it and assign it to your staff.
