= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Add a Client
  = image_tag 'tenant/help/manager/1_add client nav.png',class: "pull-right"
  %p When using QRIDit Home Watch for the first time you must ensure that your clients' information is stored on the system. In order to do this you must select the "Add a Client" option from the Clients category in the main menu.
  %p While completing the form, ensure that you assign the client to either a commercial or residential Client Type. Your selection will influence the types of checklists made available to you when creating Checklists for the client's site(s).
  = image_tag 'tenant/help/manager/1_add clientpage.png'
  %p Once you have completed the form, select "Create". From here you will be required to assign a site to the new client.
