= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Add a Team Member
  = image_tag 'tenant/help/manager/3_Add Team Nav.png',class: "pull-right"
  %p Team Members are a vital part of the QRIDit Home Watch set-up; without them you can't assign QRIDs! In order to add a team member to the system, you must first select the "Add a Team Member" option from the Team category in the main menu.
  %p While completing the form, ensure that you assign the appropriate Role to your new team member. Your selection will influence the team member's access level within the system and will dictate the amount of features made available to them. For more information about roles see: Roles and Access Levels
  = image_tag 'tenant/help/manager/3_Add Team Page.png'
  %p Once you have completed the form, select "Create". You are now ready to create your first Checklist!