= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Add a Site
  = image_tag 'tenant/help/manager/2_add site nav.png', class: "pull-right"
  %p A client can own any number of sites. A site must be established in order to create and assign a QRID. In order to do this you must select the "Add a Site" option from the Sites category in the main menu.
  %p While completing the form, ensure that you assign the site to the appropriate client. The site will then be paired with the chosen client throughout the system.
  = image_tag 'tenant/help/manager/2_add site page.png'
  %p Once you have completed the form, select "Create". If you haven't done so already you should now add a team member into the system.
