= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Assign a QRID
  = image_tag 'tenant/help/manager/5_assignQRID Nav.png',class: "pull-right"
  %p QRIDit Home Watch is about to make the assigning of jobs to your team members a whole lot easier than before. First of all, find the QRID that you want to assign by going to the "All QRIDs" page, found under the QRIDs tab in main menu.
  %p From here, select the orange "Assign" icon which will be located to the far right within the Quick Actions column.
  = image_tag 'tenant/help/manager/5_assignQRID button.png'
  %p Clicking this icon will take you to the Assign QRID page. In order to assign the selected QRID you must first choose a team member to assign the job to. Once you have selected an assignee you can then drag the green badge into their schedule below.
  = image_tag 'tenant/help/manager/5_assignQRIDpage.png'
  %p Upon completion of this process, the team member will automatically be notified by email that they have been assigned a QRID. They can view their updated schedule from their own QRIDit account.
