= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 About QRIDs >
  %h2 Checklists
  %p Checklists are named lists of questions and instructions that when completed become informative detailed reports. When a team member arrives at their assigned location, they scan the QRID with their smart phone or tablet with internet connection and log into QRIDit Home Watch Edition. Immediately the current time and their location are recorded. They are presented with the Checklist you assigned, and when finished, the list is submitted by the assigned team member to you as a completed report directly from your client's location.
  =image_tag 'tenant/help/manager/7_Checklists Page.png'
  
