= render 'menu'
.col-lg-9.col-md-8.help_content.help_content
  %h3.pull-right Getting Started
  %h4 General >
  %h4 Client Types
  %p Client Types are used to identify services offered to a client. QRIDit Home Watch recognizes two types of client.
  %ul
    %li Residential
    %li Commercial
  %p The Client Type will influence the types of templates made available when creating a QRID for a site belonging to an identified client.
