= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Completing the Checklist
  %p The Checklist will present you with a set of questions and/or instructions, depending upon the information requested by the manager/administrator.
  %h5 Timer
  %p Your assignment will be timed as soon as the QRID has been scanned. Your time is tracked and compared to the estimated time set by the manager/administrator at the top of the checklist.
  =image_tag ("tenant/help/reporter/2_Answer Questions.PNG")
  %p How to Answer Questions and Instructions
  %ul
    %li Questions are always followed by three selectable options: Yes, No and N/A. You will be required to answer all questions with a Yes, No or N/A answer. 
    %li Instructions are simple, straight forward directives. Unlike questions, they are never followed by the Yes, No and N/A options. To indicate that an instruction has been carried out, simply select the single checkbox to the right of it.
  %p Response to a question or instruction is mandatory and will have to be completed in order to submit the full report to the manager/administrator.
  %h5 About Conditional Requests
  %p Some questions, when answered, will generate Conditional Requests. This means that the manager/administrator has determined that further information is required based upon the answer provided to a question. For example; if you answer “Yes” to the question “Does the snow load appear to be heavy on the roof?” you may be asked to:
  %p Answer further related questions
  %p Provide photographic evidence
  %p Leave a detailed explanation or comment in order to provide evidence or to simply support your answer. Conditional Requests are mandatory and will have to be completed in order to submit the full report to the manager/administrator. 
