= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 For Admin & Manager >
  %h2 Create a QRID
  = image_tag 'tenant/help/manager/4_Create QRID Nav.png',class: "pull-right"
  %p To create a fully working QRID you must first make a Checklist. Making a Checklist is easy, and if the default lists that we have provided don't suit your requirements entirely, you can modify them or create your own. In order to start your Checklist, you must select the "Create a QRID" option from the QRIDs category in the main menu.
  %p While making your list, ensure that you check out all of the QRIDit templates associated with the work type selected in the info area. You may choose to integrate any number of them into your list by simply checking the appropriate boxes to the right of each corresponding checklist.
  = image_tag 'tenant/help/manager/4_Create QRID step2 select template.png'
  %p For more info about QRID Creation, see: About QRID Creation
  %p Once you have completed your new Checklist, select "Save Changes". Your next step is to assign this QRID to a team member!
  

