= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 For Clients >
  %h2 Dashboard
  %p The dashboard allows you access to all of the information related to your account from one convenient location. From here you can view your most recently received reports, or simply view information about your properties. Easily access your archived reports for your own reference or for insurance purposes or read and respond to any updated correspondence from your service provider by choosing a message from your inbox.