= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 Dashboard >
  %h2 Inbox
  =image_tag("tenant/help/client/client 2.png")
  %p Inbox information is organized in rows within the Inbox table. All information pertaining to new and unopened messages will be highlighted in bold. To view a message, simply click upon the related green icon in the far right column of the Inbox table. 
  %p The inbox is only used for communication between yourself and the homewatch service provider regarding issues that have arisen at your property. After reading the message you have the option to continue the dialogue by directly responding to it. We recommend that you respond to any message sent by your homewatch service provider, even it is to confirm that you consider the dialogue to be closed.