= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 Dashboard >
  %h2 Latest Reports
  =image_tag("tenant/help/client/client 1.png")
  %p Report information is organized in rows within the Latest Reports table. All information pertaining to new and unopened reports will be highlighted in bold. To view a report, simply click upon the related green icon in the far right column of the table.