= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 Dashboard >
  %h2 My Reports
  %p The “My Reports” page is useful for your own personal reference and for insurance claims as each report contains detailed information about the condition of your property at the time and date of the reports submission. There are a number of filtering options available to you in order to ensure that finding the right report is only a matter of a few clicks.