= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 Dashboard >
  %h2 My Sites
  %p The page contains all recorded information about your properties. Please note; if your circumstances change or if some details pertaining to your properties are out of date, please contact your homewatch service provider immediately.