= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 General >
  %h2 Permatasks
  = image_tag 'tenant/help/manager/10_Permatask Nav.png',class: "pull-right"
  %p Permatasks allow quick reports to be completed during non-scheduled visits to a client’s property. Permatasks are typically themed around situations such as emergency maintenance call outs, pre and post weather events and spot checks. 
  %p To access your Permatasks you must first select the Permatasks tab from the QRIDs drop-down in the main menu. 
  %p The Permatasks page consists of all Permatasks available on your account. We have included some default Permatasks to get you started which you may also wish to edit, customize or remove in order to fit in with your own specific requirements. This is easily achieved by simply clicking upon the text of a selected node.
  = image_tag 'tenant/help/manager/10_Permatask page.png'
  %p A Permatask, once built, will automatically appear as an option alongside or independent of other access options after a QRID has been scanned. As with a regularly assigned visit, the time between scanning in and scanning out will be recorded on the administrator’s account.