= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Print a QRID
  %p All created Checklists, when completed need to be printed out as a QRID in order to be installed at their designated locations. The print option is accessed by selecting this icon.
  %a.btn.btn-print
    %i.fa.fa-print
  %p Upon selection, a print view of the corresponding QR Code will be generated and displayed on the screen. By clicking the print button, your chosen QR Card will be printed out, ready to be installed in the designated location.
  = image_tag 'tenant/help/manager/6_printQRIDpage.png'
