= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 General >
  %h2 Roles & Access Levels
  %p The roles that are assigned to a team member not only determine and identify status within the company for indexing purposes; they also regulate access levels throughout the software.
  = image_tag 'tenant/help/manager/8_Roles nav.png',class:"pull-right"
  %p You will be asked to establish a Team Member's role while adding their details to your account for the first time. However, you may wish to edit an already established Team Member's role, in which case you should follow these steps:
  %p Select "All Team Members" from the "Team" category in the main menu.  
  %p From the "All Team Members" page select your chosen Team Member's name.
  = image_tag 'tenant/help/manager/8_Roles page.png'
  %p From the resulting "Team Member's Detail" page select the edit option. Entering into edit mode will allow you to easily select the desired roles for the chosen Team Member.
  = image_tag 'tenant/help/manager/8_Roles page2.png'