= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Scanning the QRID
  %h5 Recommended Scanning Apps
  %ul
    %li
      IOS
      %br
      =link_to("Red Laser","https://itunes.apple.com/ca/app/redlaser-barcode-scanner-shopping/id474902001?mt=8")
    %li
      Android
      %br
      =link_to("Red Laser","https://play.google.com/store/apps/details?id=com.ebay.redlaser")
    %li
      Blackberry
      %br
      Smart Tags
  %p Open the QR Code Scanner application on your handset. Hold your handset up to the QRID and it will automatically capture the QR Code, directing you to the QRID Info page. From here you will be asked what kind of report you are intending upon submitting. If you are at your destination because you were assigned a job there, select “Scheduled Visit”. For anything else, select one of the options below the “Scheduled Visit” option.
  = image_tag 'tenant/help/reporter/1_Start Report.PNG'
  %p Once a selection has been made, touch the “Continue” button in order to open the corresponding checklist. 