= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Sending Reports to Clients
  %p After reviewing the report and ensuring all information provided is of a satisfactory standard it can be sent to the client by selecting the “Submit to Client” button.
  %p Before the report is sent to the client a prompt will be generated providing an opportunity for the administrator/manager to attach a comment to the report for the client’s reference.
  = image_tag 'tenant/help/manager/16_Submittin Report Comment.png'
  %p It is not mandatory to leave a comment and the report can be sent with or without an attached comment.
