= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 General >
  %h2 Sites
  %p A client will always own at least one site. A site could be considered as a packet of land or a single property of one single address. It's useful to know that a QRID must always belong to a single site and that any site can house an unlimited amount of QRIDs.
  %h5 Why is my Site Information in the back to front?
  %p When adding a new site to the system you will be asked to enter the street number and the street name into separate input fields this enables QRIDit Home Watch to arrange this information based upon the requirements of the context in which it is viewed. When viewing site information from the Site Detail page, for example, the data will be displayed in a conventional manner but when viewed as part of a table, it will appear "back to front".
  = image_tag 'tenant/help/manager/11_Sites Address.png'
  %p QRIDit Home Watch rearranges the order of the information in order for site information to be indexed properly, allowing users to find site information quickly and effectively.