= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Submitting your Report
  %p The report will be ready to submit upon completion of all mandatory fields in the checklist. When you’re satisfied that you have provided all required information to the best of your knowledge you may select the “Send Report” button.
  %p Please note: A report will not send if all mandatory fields have not been completed.
  =image_tag("tenant/help/reporter/3_Submit Report.PNG")
  %p The report has now been sent to the manager/administrator for verification. You will now be sent back to your dashboard.
