= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 General >
  %h4 Templates
  = image_tag 'tenant/help/manager/9_Templates nav.png',class: "pull-right"
  %p For your convenience, QRIDit Home Watch comes ready equipped with many Work Types oriented Templates that can be easily integrated into your Checklists
  %p You may change templates if you desire by adding, removing or editing questions and instructions. Any edits made to Templates will only be applied to new Checklists from the time of the edit onwards. You may add updated Templates to any existing Checklists by simply selecting the related checkbox within Edit QRID mode.
  %p To access your Templates you must first select the Templates tab from the QRIDs category in the main menu.
  
