= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 About QRIDs >
  %h2 What is a QRID?
  %p QRID stands for QR Identity. A QRID is what we call a named checklist housed within a humble, unobtrusive QR Code. The term QRID can also serve as reference to the identity of the specific location in which the QR Code exists.
  %p Thanks to QRIDit's QR oriented report system, creating location specific checklists for your team to engage with could not be easier. Create a QRID, generate your QRID Card and attach it to your client’s property ready to deliver the Checklist information to your assignees when they arrive.
  %p When completed, the Checklist is submitted from the team member's handset and immediately sent to your QRIDit account as a full, completed report. The submitted report can then be quickly assessed, adjusted and sent to your client within seconds.
  %p QRIDs are created using a number of straightforward, easy to manage parameters, designed to allow the manager to set up and assign Checklists quickly and with minimum fuss. Our flexible QRID system means that a multitude of site specific questions and tasks can be communicated directly to your team members in the most remote or distant locations by one simple capture from a smartphone or tablet. *
  %p Any number of QRIDs can be created for any number of sites and you can make them as simple or as detailed as you like which means that your staff effectively begin work from the moment that they capture a QR Code with their smartphone.
  %p * Requires an internet connection
