= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 General >
  %h2 Work Types
  %p Work Types play a central role within QRIDit Home Watch. As well as being the foundation on which Templates are built upon they are useful for filtering assignments and reports into specific work-oriented categories making QRIDs and Sites easy to find.
  %p For your convenience and in order to allow you to get started as quickly as possible, QRIDit Home Watch comes ready-equipped with the following universal default Work Types:
  %ul
    %li Home Watch
    %li Property Management
    %li Cleaning
  %p When creating a QRID, you will be required to establish a Work Type in order to generate a suitable set of templates from which to build your Checklist.
  %p It's possible to create your own custom Work Types; however, you will be required to set up your own set of templates for each new custom Work Type that you create.
