= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 General >
  %h4 Zones
  = image_tag 'tenant/help/manager/12_Zones Nav.png',class: "pull-right"
  %p Zones are attached to sites and staff members and can be created by the administrator or manager to a custom specification, meaning that the number of Zones you create and the manner in which you name and designate them is entirely up to you. The open nature of Zones means that your company's established zoning practices can easily be migrated into the QRIDit Home Watch system.
  %p In order to edit or set your own Zones you must first select the Zones tab within the "Sites" category.
  %p Unlike Templates, Zones do not come pre-set as part of the software. The way in which you set them is entirely up to you and should reflect the districts or locales in which your clients' sites are situated.
  = image_tag 'tenant/help/manager/12_Zones Page.png'
  %h5 Sub Zones and Cities
  %p Zones ought to represent broad areas that may comprise of several Sub-Zones. Sub Zones and Cities are used singularly as reference for the manager and/or administrators. They will not be used in a forward facing situation and serve only as a definitive reminder of the smaller areas that fall within a Zone's jurisdiction.