.row#report_comments{style: 'page-break-before: always; page-break-inside: avoid;'}
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title General Comments
      .panel-body
        -if(current_user.role?(:client))
          - if @resource.replied_at.nil? || @resource.replied_at < @resource.sent_at
            = link_to 'Submit Confirmation of Receipt and Respond', new_tenant_report_note_url(report_id: @resource.id, send_to: 'm', confirmation: true), remote: true, class: 'btn btn-success no-print', id: 'submit_button',style: "margin-bottom: 15px;"
          - else
            = link_to 'Add New Comment', new_tenant_report_note_url(report_id: @resource.id, send_to: 'm'), remote: true, class: 'btn btn-success no-print'
        %br

        %table.table.table-striped.table-bordered
          /
            %thead
              %tr
                %th Author
                %th Comment
                %th Sent
                %th Quick Actions
          %tbody.reportnote-collection{id: "collection_#{@resource.id}"}
            = render partial: 'tenant/report_notes/resource', collection: @resource.notes.order(created_at: :desc), locals: {submission_note: @resource.notes.order(created_at: :desc).last, reception_note: @resource.notes.where(author_id: @resource.qrid.site.owner.id).order(created_at: :desc).last}
