.row.col-sm-offset-1
  %h3 Possible solutions
  %table.table.table-striped
    %tbody.reportsolution-collection{id: "collection_#{task.id}"}
      = render partial: 'tenant/report_solutions/resource', collection: task.solutions
