%menu.nestable-menu
  %button.btn.btn-info{type: 'button', data: {action: 'expand-all'}} 
    %div{rel: 'tooltip', title: 'Show all checklist items'}
      Expand All
  %button.btn.btn-danger{type: 'button', data: {action: 'collapse-all'}}
    %div{rel: 'tooltip', title: 'Hide all but main categories'}
      Collapse All