$('#myModal').html("<div class='modal-dialog'><div class='modal-content'><div class='modal-header'><button class='close' aria-hidden='true' data-dismiss='modal' type='button'>&times;</button><h4 class='modal-title'>Your QRID limit is up</h4></div><div class='modal-body'><p>Sorry, but you have reached the limit of QRID number provided for your priceplan.</p><p>If you want to create more QRIDs, please upgrade.</p></div><div class='modal-footer'><button class='btn btn-default' data-dismiss='modal' type='button'>Close</button></div></div></div>");
$('#myModal').modal('show');
