%footer
  %p
    %span{style: 'text-align:left;float:left'}
      &copy; 2013
      %a{href: '//divinedesigns.ca'} DivineDesigns
    %span.hidden-phone{style: 'text-align:right;float:right'}
      Powered by:
      %a{alt: 'Bootstrap Admin Templates', href: '//bootstrapmaster.com/demo/simpliq/'} SimpliQ Dashboard
