.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li.active
      = link_to("Home","index",:title=>"Home")
    %li
      = link_to("Contact","contact",:title=>"Contact") 
    %li
      %a#men_icn Menu
