.business1
  .container
    .business1_sub
      %h1 Never Stop Improving!
      %p We are committed to making QRIDit the most user friendly business management solution out there. You can keep up to date with new features by visiting this site or by checking in to the following locations:
      .img
        %a{:href => "http://www.quickreportsystems.com/", :target => "_blank"}
          %span.icon-social-qrs qrs.com
        %a{:href => "https://www.facebook.com/qridit", :target => "_blank"}
          %span.icon-social-facebook facebook
        %a{:href => "https://twitter.com/qriditQRS", :target => "_blank"}
          %span.icon-social-twitter twitter
