.latest_news
  .container
    .navbar-wrapper
      .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "#"} All
              %li
                %a{:href => ""} twitter
              %li
                %a{:href => ""} facebook
              %li
                %a{:href => ""} YouTube
    %h1 Latest News
    .row
      .col-lg-4
        .row
          .col-lg-12
            .news
              %p #What a difference, wow.
              %p
                %span User181
              %p.mar_19 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur lorem risus, eleifend quis.
              .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
          .col-lg-12
            .news
              %h5 #Another amazing tweet, that would be a little bit longer in length.
              %p
                %span theseconduser116
              %p.mar_19
                %b Lorem ipsum dolor sit amet, consectetuer adipiscing elit...
              .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
          .col-lg-12
            .news
              %h5.mar_b_n #this would be a shorter tweet.
              %p
                %span thirduser112
              %p Lorem ipsum dolor sit ame...
              .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
      .col-lg-4
        .row
          .col-lg-12
            .news
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur lorem risus, eleifend quis.
              %p.mar_15px
                %span User181
              .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
          .col-lg-12
            .news
              %h3
                %b Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur lorem risus...
              %p
                %span theseconduser116
              .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
          .col-lg-12
            .news
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur lorem risus, eleifend quis, imperdiet in, tempor ac
              %p.mar_15px
                %span facebookUser2021
              .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
      .col-lg-4
        .row
          .col-lg-12
            .news
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur lorem risus, eleifend quis, imperdiet in, tempor ac, metus. Sed sodales tortor vel turpis. Praesent faucibus, sapien et blandit posuere...
              %p
                .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
          .col-lg-12
            .news
              %h5 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur lorem risus...
              .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
          .col-lg-12
            .news
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur lorem risus, eleifend quis, imperdiet in, tempor ac, metus. Sed sodales tortor vel turpis. Praesent faucibus, sapien et blandit posuere...
              %p               .news_icn &nbsp;
            .news_btm
              .time_icn
                %p 5 Hours ago from Twitter
              .ret_icn
                %a{:href => "#"} Retweet
