.business
  .container
    %h2 Simplify Your Home Watch Business Today!
    .btn_m
      %a.btn{:href => "purchase"} Get Started Now
    .visa
      %a{:href => "purchase", :title => "payment"}
        = image_tag "front/visa.png"
