/* CSS Document */

@font-face {
    font-family: 'timesbold_italic';
    src: asset-url('front/times_bolditalic-webfont.eot');
    src: asset-url('front/times_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('front/times_bolditalic-webfont.woff') format('woff'),
         asset-url('front/times_bolditalic-webfont.ttf') format('truetype'),
         asset-url('front/times_bolditalic-webfont.svg#timesbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-weight:bold;
	}
p, h1, h2, h3, .nav a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
.nav a {
	text-transform:uppercase;
	}
.logo {
	position:absolute;
	top:6px;
	left:0px;
	margin:0px;
	padding:0px;
	}
body {
	overflow-x:hidden;
	background:asset-url('front/body_bg111.jpg') repeat-x top;
	background-color:#000;
	}
.navbar-inverse {
	background:none;
	border:0px;
	}
.navbar-header {
	position:relative;
	}
.navbar-nav {
	float:right;
	margin-right:10px;
	}
.navbar-wrapper {
	margin-top:0px;
	}
li.active a {
	background:none!important;
	}
.carousel-caption_1 {
	left:0%;
	right:0%;
	}
.left_div {
	width:392px;
	float:left;
	}
.right_div {
	width:344px;
	float:right;
	margin-right:41px;
	margin-top:29px;
	}
@media (min-width: 1200px) {

.container {
	width:970px;
	}
 }
 .over_flow {
 	overflow:hidden;
	}
.carousel-inner .container {
	position:relative;
	}
.carousel-indicators {
	top:190px;
	bottom:0px;
	left:20%;
	height:20px;
	}
.carousel-indicators li, .carousel-indicators .active  {
	background:asset-url('front/bt.jpg') no-repeat;
	border-radius:0px;
	border:none;
	margin:0px;
	height:9px;
	width:9px;
	}
.carousel-indicators .active {
	background-color:none;
	}
.nav > li > a {
	font-size:14px;
	font-weight:bold;
	color:#fff!important;
	}
.container p {
    margin: 0px;
    padding:0px;
/*	font-size:12px;*/
}

.container .cont_main h1 {
	font-size:26px;
	color:#000;
	margin-bottom:29px;
	}
.cont_main p {
	text-align:justify;
	font-size:12px;
	}
.icon_main {
	width:100%;
	clear:both;
	}
.icon_main p{
	height:125px;
	}
.iocn {
	float:left;
	}
.iocn_text {
	float:left;
	margin-left:10px;
	font:18px/64px Verdana, Arial, Helvetica, sans-serif;
	color:#00abba;
	letter-spacing:-1px;
	}
.top_cont, .bottom_content {
	width:100%;
	overflow:hidden;
	background:#fff;
	padding-top:20px;
	padding-bottom:60px;
	border-top:0px solid #000;
	}
.icon_2 {
	margin-top:-16px;
	}
.top_cont .col-lg-4 {
	margin-top:35px;
	}
.business {
	background:#00abba asset-url('front/bg_1.jpg') center no-repeat;
	height:160px;
	padding-top:5px;
	border-bottom:6px solid #000;
	} 
.business h2 {
	font:20px Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	text-align:center;
	margin-top:10px;
	}
.business .btn_m {
		width:337px;
		margin:0px auto;
	}
.business .btn_m a {
	margin:0px;
	background:asset-url('front/bg_bg.png');
	width:337px;
	height:57px;
	font:32px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	border:0px;
	text-decoration:none;
	border:5px solid #fff;
	}
.visa {
	margin:10px auto;
	width:259px;
	}
.latest_news {
	width:100%;
	background:#000;
	border-top:10px solid #fff;
	position:relative;
	min-height:60px;
	padding-bottom:50px;
	}
.latest_news .navbar-nav {
	background:#000;
	}
.latest_news .navbar-nav > li.active {
	background:asset-url('front/nav_act.jpg') top center no-repeat;
	}
.latest_news .navbar-nav > li a {
	padding-top:30px;
/*	margin-right: 40px;*/
	}
.latest_news h1 {
	font:bold 32px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	margin: 21px 0px;
	}
.news {
	border:1px solid #5b5b5b;
	widows:80%;
	padding:28px 10%;
	position:relative;
	clear:both;
	}
.blockquote {
    border: 0 none;
    clear: both;
    font-size: 120%;
    font-style: italic;
    line-height: 200%;
    /* margin-left: 10px;
    margin-right: 10px;
   padding: 10px 10px 0 50px;*/
    position: relative;
    quotes: none;
}
.news_icn {
	width:11px;
	height:21px;
	background:asset-url('front/news_icn.jpg') no-repeat;
	position:absolute;
	right:90px;
	bottom:-21px;
	}
.news p {
	color:#fff;
	margin:0px;
	padding:0px;
	}
.news p span {
	font-size:13px;
	color:#868585;
	margin-top:14px;
	}
.news h3 {
	font:17px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0px;
	padding:0px;
	margin-bottom:22px;
	}
.news h5 {
	font:16px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	}

.news_btm {
	width:100%;
	height:30px;
	padding-top:10px;
	margin-bottom:15px;
	}
p.mar_19 {
	margin-top:15px;
	}
.time_icn {
	background:asset-url('front/time_icn.jpg') no-repeat center left;
	padding-left:28px;
	margin-left:15px;
	line-height:22px;
	float:left;
	}
.time_icn p, .ret_icn a {
	font-size:10px;
	color:#a7a7a7;
	line-height: 32px;
	letter-spacing:-0.3px;
	}
.ret_icn {
	background:asset-url('front/ret_icn.jpg') no-repeat center left;
	line-height:22px;
	padding-left:28px;
	float:right;
	margin-top:5px;
	}
	.col-lg-6 {
    width: 46%;
	padding:15px 20px 15px 0px;
	margin-right:20px;
}
.ret_icn a {
	text-decoration:underline;
	font:10px Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	}
.ret_icn a:hover {
	text-decoration:none;
	}
.mar_15px {
	line-height:50px;
	margin-bottom:-25px!important;
	}
h3.mar_b_n {
	margin-bottom:0px!important;
	}
.bottom_slide {
	width:100%;
	/*min-height:290px;*/
	background:asset-url('front/btm_slide_bg.jpg') repeat;
	position:relative;
	padding-top:30px;
	}
.btm_slide_1 {
	width:auto;
	border:1px solid #fff;
	min-height:204px;
	position:relative;
	margin:0px auto;
	padding:40px;
	}
.c_t {
	position:absolute;
	top:10px;
	left:0px;
	width:34px;
	height:25px;
	background:asset-url('front/c_t.jpg') no-repeat;
	}
.c_b {
	position:absolute;
	bottom:10px;
	right:0px;
	width:34px;
	height:25px;
	background:asset-url('front/c_b.jpg') no-repeat;
	}
.btm_slide_1 p {
	font:bold 13px/26px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:justify;
	}
.btm_slide_bt {
	width:100%;
	height:62px;
	background:#ebebeb;
	border-bottom:19px solid #fff;
	}
.side_carn {
	background:asset-url('front/slicd_car.jpg') no-repeat;
	width:16px;
	height:14px;
	position:absolute;
	right:42px;
	bottom:-38px;
	}
.btm_slide_1 p.span {
	font:16px "timesbold_italic";
	color:#fff;
	text-align:right;
	width:95%;
	padding-right:5%;
	}
.carn_slide {
	background:asset-url('ssets/front/carn_slide.jpg') no-repeat;
	width:24px;
	height:25px;
	position:absolute;
	bottom:-25px;
	right:90px;
	}
h6 {
	font:21px/26px Verdana, Arial, Helvetica, sans-serif;
	color:#00abba;
	}
p.gry {
	font:13px/26px Verdana, Arial, Helvetica, sans-serif;
	color:#a1a1a1;
	text-align:left;
	}
p.gry a {
		font:13px/26px Verdana, Arial, Helvetica, sans-serif;
			color:#00abba;
			text-decoration:none;
	}
p.gry a:hover{
	text-decoration:underline;
	}
.bottom_content {
	border-top:6px solid #000;
	}
.qri {
	margin-top:25px;
	}
.main_qri {
	background:#fff;
	width:100%;
	padding-bottom:70px;
	}
.main_qri_to {
	margin-top:-25px;
	}
.qri h1 {
	margin-bottom:45px;
	margin-top:45px;
	}
.btm_logo {
	width:100%;
	background:#eaeaea asset-url('front/bg_2.jpg') center no-repeat;
	}
.footer_logo {
	margin-top:10px;
	}
footer {
	background:#000;
	}
footer ul {
	list-style:none;
	margin-left:15%;
	}
footer ul li {
	float:left;
	margin-left:10px;
	}
footer ul li a {
	padding:15px 10px 0px 10px;
	text-decoration:none;
	font:bold 16px/92px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	}
footer li a:hover{text-decoration:none;}
footer li.active {
	background:asset-url('front/nav_act.jpg') top left no-repeat;
	text-decoration:none;
	}
footer p {
	font:11px/80px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#636363;
	}
#men_icn {
	background:asset-url('front/men_icn.png') 72px 20px no-repeat;
	padding-right:30px!important;
	line-hight:13px;
	}
@media (max-width: 767px) {
	
	.navbar-collapse {
		background:#000;
		}
	.navbar-collapse ul {
		width:100%;
		text-align:center;
		}
	#men_icn {
	background:asset-url('front/men_icn.png') 60% 10px no-repeat;
	padding-right:30px!important;
	line-hight:13px;
	}
.header_home {
	margin-top:-200px;
	padding-top:300px;
	}
	
}
#side_nav {
	width:225px !important;
	position:fixed;
	right:0;
	top:0;
	background:#1a1a1a;
	border-left:2px solid #00abba;
	z-index:10000;
	margin-right:-350px;
	transition: all 200ms linear;
	}
body, .header_2, .bannerli {
	transition: all 200ms linear;
	}
.header_2 {
	width:100%;
	position:relative;
	}
#hide {
	width:12px;
	height:16px;
	background:asset-url('front/hide.jpg') no-repeat;
	border:0px;
	background-color:none;
	float:right;
	margin:20px;
	}
.nav_side {
	width:90%;
	margin-left:10%;
	}
.nav_side ul {
	list-style:none;
	margin-top:40px;
	margin-left:0px;
	padding:0px;
	}
.nav_side ul li {
	margin-bottom:12px;
	}
.nav_side ul li a {
	font:bold 15px Verdana, Arial, Helvetica, sans-serif;
	color:#a1a1a1;
	text-decoration:none;
	}
.nav_side ul li a:hover {
	color:#fff;
	text-decoration:none;
	}
.fr {
	float:right;
	}
.sid_logo {
	margin:86px 0px 130px 10%;
	}
.carousel-caption_1 h1{
	font-size:26px;
	color:#00abba;
	text-shadow:none;
	font-weight:bold;
	margin:0px;
	padding:0px;
	margin-bottom:10px
	}
.carousel-caption_1 h2 {
	font-size:24px;
	text-shadow:none;
	color:#141313;
	text-align:center;
	margin-top:0px;
	}
.carousel-caption_1 p {
	text-align:left;
	font-size:12px;
	line-height:20px;
	text-shadow:none;
	color:#000;
	}
	.col-lg-4 {
    width: 33.3333%;
	float:left !important;
}
.carousel {
    background: asset-url('front/img_1.jpg') no-repeat scroll center center rgba(0, 0, 0, 0);
    border-bottom: 0px solid #000000;
   /* min-height: 350px;*/
    overflow: hidden;
}
.wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}
.header_home {
	width:100%;
	min-height:351px;
	background:#d6baa2 asset-url('front/img_1.jpg') bottom center no-repeat;
	margin-top:-70px;
	padding-top:100px;
	border-bottom:6px solid #000;
	}
.sub_h_r {
	width:400px;
	float:left;
	}
.sub_h_r p{ padding:0px; margin:0px;}
.col-lg-5{padding:0px; margin-top:10px;}
.container {
    max-width: 970px;
}
.divr {
	width:39px;
	height:9px;
	margin:0px auto;
	margin-bottom:15px;
	}
.divr_2 {
	width:39px;
	height:9px;
	margin:0px auto;
	}
.side_fb {
	width:auto;
	}
.side_fb ul {
	list-style:none;
	}
.side_fb ul li {
	float:left;
	margin-right:15px;
	}
	
/*pricing*/

.pricing_inner {
	width:100%;
	}
.pricing_inner ul {
	list-style:none;
	}
.pricing_inner ul li {
	float:left;
	font:17px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	margin-bottom:30px;
	position:relative;
	background: asset-url('front/checkbox1.png') no-repeat left;
	margin-right:27px;
	}
.pricing_inner ul li input {
	margin:0px;
	padding:0px;
	width:auto;
	float:left;
	}
.pricing_inner ul li p {
	float:left;
	margin-left:35px;
	margin-top:3px;
	}
.pricing_inner ul li p span {
	color:#000;
	}
<!--checkbox-->

.icr {
    position: relative;
    display: inline-block; vertical-align: top;
    cursor: pointer;
}
.icr.disabled {
    cursor: default;
    opacity: 0.5;
}
  
.icr__checkbox {
        position: absolute; display: block;
        top: 0; left: 0;
    }
	
.icr__checkbox {
    background: asset-asset-url('front/icr-cloudy-skin.png') no-repeat!important;
}


    .icr__text {
        padding: 2px 0 0 22px;
    }


    .icr__checkbox {
        width: 27px; height: 25px;
        background-position: 0 0;
    }
    .icr.enabled:hover .icr__checkbox {
        background-position: -50px 0;
    }
    .icr.checked .icr__checkbox {
        background-position: -100px 0!important;
    }
    .icr.enabled.checked:hover .icr__checkbox {
        background-position: -150px 0!important;
		padding:0px!important;
    }
.price_r_b {
	background:asset-url('front/side_br.jpg') right top no-repeat;
	}
.padding_l_n {
	padding-left:0px!important;
	}
.save_top {
	background:#f3f3f3;
	padding:10px 15px;
	max-width:301px;
	}
.save_top p {
		font:20px Verdana, Arial, Helvetica, sans-serif;
		color:#000;
		margin:0px;
		padding:0px;
	}
.save_top p span, .save_b ul li p span, .c_plans p span  {
	color:#00b1c1;
	}
.save_b {	
	width:100%;
	background:#f3f3f3;
	padding:10px 0px;
	position:relative;
	margin-top:4px;
	float:right;
	}
.save_b ul {
	list-style:none;
	}
.save_b ul li {
	float:left;
	margin:0px 28px;
	}
.save_b ul li p {
			font:21px Verdana, Arial, Helvetica, sans-serif;
			margin:0px;
		padding:0px
	}
.join {
	width:240px;
	height:4px;
	background:asset-url('front/join.jpg') no-repeat;
	position:absolute;
	left:0px;
	top:-4px;
	}
.c_plans {
	width:100%;
	margin:20px 0px 85px 0px;
	}
.c_plans p {
	text-align:right;
		font:13px Verdana, Arial, Helvetica, sans-serif;
		color:#000;
	}

#men_icn:hover {
	cursor:hand;
}
#mc-embedded-subscribe-form{
  margin-top: 10px;
  & input[type='submit']{
    line-height: 30px;
    width: auto;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  & h3{
    margin-top: 10px;
    margin-bottom: auto;
    width: auto;
  }
  & .noPadInput{
    padding-left: 0;
    padding-right: 8px;
  }
  & .submitContainer {
    margin-left: 0.75em;
  }
  & .mce_inline_error {
    margin-bottom: 0.5em;
  }
}

.mce-responses {
  max-width: 500px;
  width: 500px;
  text-align: center;
  margin: 0.5em auto;
}
