- content_for(:header, "Password Change Requested")
- callToActionUrl = edit_password_url(@resource, reset_password_token: @token, subdomain: Admin::Tenant.find(Apartment::Tenant.current_tenant.scan( /\d+$/ ).first).subdomain)

%p
  Hello #{@resource.name},
%p Someone has requested a link to change your password. You can do this through the link below.

= render "layouts/emailbrand/call_to_action_button", :line1 => "Click here to", :line2 => "Change Your Password", :line3 => "", :linkUrl => callToActionUrl

%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
