-if @resource.affiliate_status=="AWAITING_APPROVAL"
  =link_to 'Approve', tenant_affiliate_path(@resource,admin_tenant:{affiliate_status: "APPROVED"}), {method: :patch, data:{confirm: 'Are you sure you want to confirm this Affiliate?'},class: 'btn btn-success'}
  =link_to 'Deny', tenant_affiliate_path(@resource,admin_tenant:{affiliate_status: "DENIED"}), {method: :patch, data:{confirm: 'Are you sure you want to deny this Affiliate?'},class: 'btn btn-danger'}
%div
  %span Subdomain:
  =@resource.subdomain
%div
  %span Company Name:
  =@resource.company_name
%div
  %span Company Website:
  =@resource.company_website
%div
  %span Owner Name:
  =@resource.name
%div
  %span Company Phone:
  =@resource.phone
%div
  %span Company Phone Ext:
  =@resource.phone_ext
%div
  %span Owner Email:
  =@resource.admin_email
%div
  %span Company Timezone:
  =@resource.timezone
%div
  %span Country:
  =@resource.country_code
%div
  %span Status?:
  =@resource.affiliate_status
=link_to "EDIT",edit_tenant_affiliate_path(@resource)