%tr{data: {'resource-id' => resource.id}}
  %td= resource.description
  %td.center
    - if controller_name == 'c_reports' || params[:accept] || params[:decline]
      = form_tag(tenant_report_solution_url(report_id: resource.report_id, id: resource.id), method: :patch, remote: true) do
        - if resource.accepted
          %button.btn.btn-info{disabled: true}
            %i.fa.fa-check-circle
            Accepted
        - else
          %button.btn.btn-success{name: :accept, type: 'submit'}
            %i.fa.fa-check-circle
            Accept
        - if resource.declined
          %button.btn.btn-info{disabled: true}
            %i.fa.fa-times-circle
            Declined
        - else
          %button.btn.btn-danger{name: :decline, type: 'submit'}
            %i.fa.fa-times-circle
            Decline

    - else
      - if resource.accepted
        %button.btn.btn-success{disabled: true}
          %i.fa.fa-check-circle
          Accepted
      - elsif resource.declined
        %button.btn.btn-danger{disabled: true}
          %i.fa.fa-times-circle
          Declined
      - else
        = tenant_button :edit, edit_tenant_report_solution_url(report_id: resource.report_id, id: resource.id), remote: true
        = tenant_button :delete, tenant_report_solution_url(report_id: resource.report_id, id: resource.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }
